In [1]:
import sqlite3

In [2]:
con = sqlite3.connect("batch50")

In [3]:
pwd

u'/home/khyaathi-python/pythonexamples/batch50'

In [4]:
cur = con.cursor()

In [5]:
cur.execute("create table customer(id int, name varchar(250))")

In [6]:
q="insert into customer(id,name) values(1,'anil')"
cur.execute(q)

In [7]:
con.commit()

In [8]:
q="update customer set name='anil kumar' where id=1"
cur.execute(q)
con.commit()

In [9]:
q="insert into customer(id,name) values(2,'jay')"
cur.execute(q)

In [10]:
con.commit()

In [11]:
q="update customer set name='jayaram' where id=2"
cur.execute(q)
con.commit()

In [12]:
q="delete from customer where id=1"
cur.execute(q)
con.commit()

In [1]:
import sqlite3
con=sqlite3.connect("batch50")
cur=con.cursor()

In [2]:
cur.execute("select * from customer")

In [4]:
import random
names=["samba","praveen","arun","mahesh","jeevan","nikhila","sumith"]
for i in range(100):
    q="insert into customer(id,name) values(%s,'%s')"%(i,random.choice(names))
    cur.execute(q)
con.commit()

OperationalError: database is locked

In [5]:
import sqlite3
con=sqlite3.connect("batch50")
cur=con.cursor()
import random
names=["samba","praveen","arun","mahesh","jeevan","nikhila","sumith"]
for i in range(100):
    q="insert into customer(id,name) values(%s,'%s')"%(i,random.choice(names))
    cur.execute(q)
con.commit()

OperationalError: database is locked

In [6]:
import sqlite3
con=sqlite3.connect("batch50")
cur=con.cursor()
import random
names=["samba","praveen","arun","mahesh","jeevan","nikhila","sumith"]
for i in range(100):
    q="insert into customer(id,name) values(%s,'%s')"%(i,random.choice(names))
    cur.execute(q)
con.commit()

OperationalError: database is locked

In [7]:
import sqlite3
con=sqlite3.connect("batch50")
cur=con.cursor()
import random
names=["samba","praveen","arun","mahesh","jeevan","nikhila","sumith"]
for i in range(100):
    q="insert into customer(id,name) values(%s,'%s')"%(i,random.choice(names))
    cur.execute(q)
con.commit()

In [8]:
con.close()