In [2]:
print "program started"
a=10
b=20
#a="str1"
print a+b
print "program ended"

program started
30
program ended

In [4]:
def fun():
    print "sdfsfs"

In [5]:
a=10
b=20
print a,b

10 20

In [6]:
print "hello world,"

hello world,

In [7]:
a=10
# a is reference
# 10 is an object
b=20
print a,b

10 20

In [8]:
print a

10

In [9]:
print id(a)

94695879844016

In [10]:
print type(a)

<type 'int'>

In [11]:
a="python"
print a
print type(a)
print id(a)

python
<type 'str'>
139724707826688

In [12]:
a=1000
b=2000
c=a
d="a"
print c

1000

In [14]:
a=1000
c=a
print c
print a

1000
1000

In [15]:
a=1000
c=a
print id(a)
print id(c)

94695889102728
94695889102728

In [16]:
a=1000
c=1000
print a
print c

1000
1000

In [17]:
a=1000
c=1000
print id(a)
print id(c)

94695889103184
94695889180456

In [18]:
a=1000
b=1000
c=a
a=2000
print c

1000

In [19]:
cust_name="anil kumar"

In [20]:
cust name="anil kumar"

SyntaxError: invalid syntax (<ipython-input-20-d4816f90dd78>, line 1)

In [21]:
cust_name="anil kumar"

In [22]:
cust@name="anil kumar"

SyntaxError: invalid syntax (<ipython-input-22-34f09e776ee7>, line 1)

In [23]:
_cust_name="anil kumar"

In [24]:
_cust_2name="anil kumar"

In [25]:
2_cust_name="anil kumar"

SyntaxError: invalid syntax (<ipython-input-25-3924131bca3b>, line 1)

In [26]:
for=20

SyntaxError: invalid syntax (<ipython-input-26-351e08a9b7d2>, line 1)

In [27]:
import keyword
print keyword.kwlist

['and', 'as', 'assert', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'exec', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'not', 'or', 'pass', 'print', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [1]:
a=1000
b=2000
c=b
d=2000
e=a

In [3]:
s1="python1"
s2=s1
s3="java"
s4="python1"

In [4]:
s1="rabbit"
s2=s1
s1="apple"
print s2

rabbit

In [5]:
s1="rabbit"
s2=s1
s1="apple"
print s1[0]

a

In [6]:
s1="rabbit"
s2=s1
s1="apple"
print s1[0]
print s2[1]

a
a

In [7]:
s1="rabbit"
s2=s1
s1="apple"
print id(s1[0])
print id(s2[1])

140260491273520
140260491273520

In [8]:
a=1000
b=2000
c=b
a=3000
b=4000
# few more statements

In [9]:
a=1000
b=1000
c=1000

In [10]:
a=1000
b=a
c=a

In [11]:
range(1320000000)

MemoryError:

In [12]:
a=100

In [13]:
b=1000

In [14]:
print a

100

In [15]:
a=1000
print a, type(a)
a=10.23
print a, type(a)
a="python"
print a, type(a)
a=[10,20,30]
print a, type(a)
a=(10,20,30)
print a, type(a)
a={"name":"anil","age":23}
print a, type(a)

1000 <type 'int'>
10.23 <type 'float'>
python <type 'str'>
[10, 20, 30] <type 'list'>
(10, 20, 30) <type 'tuple'>
{'age': 23, 'name': 'anil'} <type 'dict'>

In [1]:
a=1000
b=2000
print a,b

1000 2000

In [2]:
a=1000
b=2000
print a & b

960

In [3]:
print bin(a)
print bin(b)

0b1111101000
0b11111010000

In [4]:
a=1000
b=2000
print a | b

2040

In [5]:
a=1000
b=2000
print a ^ b

1080

In [6]:
a>>2

250

In [7]:
a<<2

4000

In [8]:
a=10
b=010
print a
print b

10
8

In [9]:
a=0o123
print a

83

In [10]:
a=0x123
print a

291

In [11]:
a=0b123
print a

SyntaxError: invalid syntax (<ipython-input-11-ac1c3b2b3368>, line 1)

In [12]:
a=0o129
print a

SyntaxError: invalid syntax (<ipython-input-12-285057e20444>, line 1)

In [13]:
a=0xa
print a

10

In [14]:
a=0xab
print a

171

In [15]:
print 11*16**0+10*16**1

171

In [17]:
a=0o27
print a
print 7*8**0+2*8**1

23
23

In [18]:
a=0b11101
print a

29

In [19]:
a=10
b=20
print a/b

0

In [20]:
a=10
b=3
print a/b

3

In [21]:
a=10
b=3.0
print a/b

3.33333333333

In [22]:
a=10
b=3
print float(a)
print float(b)

10.0
3.0

In [23]:
a=10
b=3
print float(a/b)

3.0

In [24]:
print 100/20*4

20

In [25]:
print 100*20/4

500

In [26]:
print 100/20/4

1

In [27]:
print 100/20/4.0

1.25

In [28]:
a=10
b=20
print a**2
# write an expression for (a+b)2

100

In [29]:
a=10
b=20
print a+b**2
print (a+b)**2
print a**2+b**2+2*a*b

410
900
900

In [30]:
a=10
b=20
print a+b**2
print (a+b)**2
print a**2+b**2+2*a*b
print (a+b)*(a+b)
print a+b*a+b

410
900
900
900
230

In [32]:
a=0x341
print a
print 1*16**0+4*16**1+3*16**2

833
833

In [33]:
a=10
print float(a)

10.0

In [34]:
a=12.36
print int(a)

12

In [35]:
a="12"
print type(a)

<type 'str'>

In [36]:
a=10
b=20
a+b

30

In [37]:
a="str1"
b="str2"
a+b

'str1str2'

In [38]:
a=12.34
b=23.45
a+b

35.79

In [39]:
c1=1+2j
print type(c1)

<type 'complex'>

In [40]:
c1=1+2j
c2=2+3j
print c1+c2
print c1-c2
print c1*c2
print c1/c2

(3+5j)
(-1-1j)
(-4+7j)
(0.615384615385+0.0769230769231j)

In [41]:
c1>c2

TypeError: no ordering relation is defined for complex numbers

In [42]:
a=12.34
b=13.45
print bin(a)

TypeError: 'float' object cannot be interpreted as an index

In [43]:
a=12.34
b=13.45
print a & b

TypeError: unsupported operand type(s) for &: 'float' and 'float'

In [44]:
cost_price=10
# cost price of the product:10
print "cost price of the product:"

cost price of the product:

In [45]:
cost_price=10
# cost price of the product:10
print "cost price of the product:",10

cost price of the product: 10

In [46]:
cost_price=10
# cost price of the product:10
print "cost price of the product:cost_price"

cost price of the product:cost_price

In [47]:
cost_price=10
# cost price of the product:10
print "cost price of the product:",cost_price

cost price of the product: 10

In [48]:
print "str1","str2"

str1 str2

In [49]:
print "str1"+"str2"

str1str2

In [50]:
cost_price=10
# cost price of the product:10
print "cost price of the product:"+cost_price

TypeError: cannot concatenate 'str' and 'int' objects

In [51]:
cost_price=10
# cost price of the product:10
print "cost price of the product:"cost_price

SyntaxError: invalid syntax (<ipython-input-51-5b03b202d8f7>, line 3)

In [52]:
cost_price=10
# cost price of the product:10
print "cost price of the product:"+str(cost_price)

cost price of the product:10

In [53]:
cost_price=10
print cost_price,type(cost_price)
a=str(cost_price)
print a,type(a)

10 <type 'int'>
10 <type 'str'>

In [56]:
username=raw_input("Enter username:")
pwd = raw_input("Enter password:")
print "given username:",username
print "given password:",pwd

Enter username:user1
Enter password:pwd1
given username: user1
given password: pwd1

In [57]:
num1 = raw_input("Enter num1 value:")
num2=raw_input("Enter num2 value:")
print num1+num2

Enter num1 value:10
Enter num2 value:20
1020

In [58]:
num1 = raw_input("Enter num1 value:")
print num1, type(num1)

Enter num1 value:anil kumar
anil kumar <type 'str'>

In [59]:
num1 = raw_input("Enter num1 value:")
print num1, type(num1)

Enter num1 value:10
10 <type 'str'>

In [60]:
num1 = raw_input("Enter num1 value:")
print num1, type(num1)

Enter num1 value:12.34
12.34 <type 'str'>

In [61]:
num1 = raw_input("Enter num1 value:")
print num1, type(num1)

Enter num1 value:[10,20,30,40]
[10,20,30,40] <type 'str'>

In [62]:
a="[10,20,30,40]"
a[0]

'['

In [63]:
num1 = raw_input("Enter num1 value:")
num2=raw_input("Enter num2 value:")
n1=int(num1)
n2=int(num2)
print n1+n2

Enter num1 value:12
Enter num2 value:34
46

In [64]:
num1 = raw_input("Enter num1 value:")
num2=raw_input("Enter num2 value:")
n1=int(num1)
n2=int(num2)
print n1+n2

Enter num1 value:werwe
Enter num2 value:23432

ValueError: invalid literal for int() with base 10: 'werwe'

In [65]:
int("12")

12

In [66]:
int("werwer")

ValueError: invalid literal for int() with base 10: 'werwer'

In [67]:
num1 = raw_input("Enter num1 value:")
num2=raw_input("Enter num2 value:")
n1=int(num1)
n2=int(num2)
print n1+n2

Enter num1 value:12.34
Enter num2 value:45.67

ValueError: invalid literal for int() with base 10: '12.34'

In [68]:
int(12.34)

12

In [69]:
int("12.34")

ValueError: invalid literal for int() with base 10: '12.34'

In [70]:
float("12.34")

12.34

In [71]:
float("sdfds")

ValueError: could not convert string to float: sdfds

In [73]:
float("12.34.56")

ValueError: invalid literal for float(): 12.34.56

In [74]:
num1 = raw_input("Enter num1 value:")
num2=raw_input("Enter num2 value:")
n1=float(num1)
n2=float(num2)
print n1+n2

Enter num1 value:12
Enter num2 value:34
46.0

In [75]:
num1 = raw_input("Enter num1 value:")
num2=raw_input("Enter num2 value:")
n1=float(num1)
n2=float(num2)
print n1+n2

Enter num1 value:12.34
Enter num2 value:56.78
69.12

In [76]:
num1 = raw_input("Enter num1 value:")
num2=raw_input("Enter num2 value:")
n1=float(num1)
n2=float(num2)
print n1+n2

Enter num1 value:sdfsd
Enter num2 value:sdfsd

ValueError: could not convert string to float: sdfsd

In [77]:
num1 = raw_input("Enter num1 value:")
num2=raw_input("Enter num2 value:")
n1=float(num1)
n2=float(num2)
print n1+n2

Enter num1 value:12.34.56
Enter num2 value:34.56

ValueError: invalid literal for float(): 12.34.56

In [78]:
num1 = float(raw_input("Enter num1 value:"))
num2=float(raw_input("Enter num2 value:"))
print num1+num2

Enter num1 value:12.34
Enter num2 value:56.78
69.12

In [1]:
print "sdfsdf"

sdfsdf